.title {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 32px;
}

.gold {
	background-color: gold !important;
}

.silver {
	background-color: silver !important;
}

.bronze {
	background-color: burlywood !important;
}
