.button-container {
	display: flex;
	justify-content: space-evenly;

	.submit-button,
	.reset-button {
		border: 2px solid black; /* Curved border */
		border-radius: 20px; /* Curved border radius */
		padding: 10px 20px;
		background-color: white; /* Initial background color */
		color: black; /* Initial text color */
		transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
		margin-right: 10px;
	}

	.submit-button:hover {
		background-color: rgb(
			100,
			225,
			100
		); /* Light green background color on hover */
		color: white; /* White text color on hover */
	}

	.reset-button:hover {
		background-color: rgb(
			228,
			73,
			73
		); /* Light green background color on hover */
		color: white; /* White text color on hover */
	}
}
