.form {
	border: 5px solid black;
	width: 25%;
	height: 400px;
	margin-left: 25px;

	.form-entry {
		display: flex;
		margin-left: 25px;
		margin-right: 25px;
		padding: 10px;
		margin-top: 15px;

		.MuiInputLabel-formControl {
			color: black !important;
		}

		.MuiInput-underline:after {
			border-bottom-color: black;
		}
	}

	.button-div {
		margin-top: 60px;
		display: flex;
		justify-content: center; /* Center align the button horizontally */
		align-items: center; /* Center align the button vertically */

		.submit-button {
			border: 2px solid black; /* Curved border */
			border-radius: 20px; /* Curved border radius */
			padding: 10px 20px;
			background-color: white; /* Initial background color */
			color: black; /* Initial text color */
			transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
			margin-right: 10px;
		}

		.submit-button:hover {
			background-color: rgb(
				100,
				225,
				100
			); /* Light green background color on hover */
			color: white; /* White text color on hover */
		}

		/* Define styles for button click state */
		.submit-button:active {
			background-color: white;
			color: black;
			animation: wave 0.5s; /* Wave-like animation on click */
		}

		.reset-button {
			border: 2px solid black; /* Curved border */
			border-radius: 20px; /* Curved border radius */
			padding: 10px 20px;
			background-color: white; /* Initial background color */
			color: black; /* Initial text color */
			transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
		}

		.reset-button:hover {
			background-color: rgb(
				228,
				73,
				73
			); /* Light green background color on hover */
			color: white; /* White text color on hover */
		}

		/* Define styles for button click state */
		.reset-button:active {
			background-color: white;
			color: black;
			animation: wave 0.5s; /* Wave-like animation on click */
		}

		/* Define keyframe animation for wave effect */
		@keyframes wave {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.1);
			}
			100% {
				transform: scale(1);
			}
		}
	}
}
