.gear {
	font-size: 100px;
	animation: rotate 4s linear infinite; /* Adjust the duration and timing function */
	color: #356168;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
